Eggdropper/ExportedObj/
Eggdropper/obj/
Eggdropper/*.svd
Eggdropper/*.userprefs
Eggdropper//*.csproj
Eggdropper/*.pidb
Eggdropper/*.suo
Eggdropper//*.sln
Eggdropper/*.user
Eggdropper/*.unityproj
Eggdropper/*.booproj
Eggdropper/.DS_Store
Eggdropper/.DS_Store?
Eggdropper/._*
Eggdropper/.Spotlight-V100
Eggdropper/.Trashes
Eggdropper/ehthumbs.db
Eggdropper/Thumbs.db
Eggdropper/Temp/
Eggdropper/Library/